@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
*/
/*reset*/
*{margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {text-decoration: inherit; color: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
a img {border: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


body {font-family: 'Noto Sans KR', sans-serif; font-weight: 400;}
h1, h2{font-weight: 900;}
h3, h4{font-weight: 700;}
h5, h6{font-weight: 500;}

header {position: fixed; top: 0; z-index: 100; width: 100vw;}
/*�α��ν�Ÿ��*/
section > .container {margin-top: 55px}
/*���ν�Ÿ��*/
main { margin-left: 250px; margin-top: 55px; margin-right: 100px;}
/*��ư ��Ÿ��*/
.btn {background-color: #FF9B85; border: none;}
.btn:hover {background-color: #EF6E6B; border-radius: 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);}

/*AdLogin.jsp*/
.login-title {margin-top: 100px; }
.login-title > div {text-align: center;}
.login-title > div > h1 {color: #FF9B85; margin: 40px; font-size: 50px;}
#loginForm {width: 300px; background-color: #FFD97D; color: #9b9b9b; border-radius: 5px; margin-left: auto; margin-right: auto; padding: 20px;}
#loginForm .text-field { width: 100%; font-size: 14px; margin-bottom: 10px; padding: 10px; border-radius: 5px; }
#loginForm #loginBtn { width: 260px; margin-bottom: 10px; padding: 10px; border-radius: 5px; background-color: #FF9B85; border: none;}
#loginForm #loginBtn:hover {box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);}

/*Nav*/
.navbar { background-color: #FFD97D;}
.navbar-brand { margin-left: 10px; font-weight: 700;}

/*Sidebar*/
/*�������� �� ������̼� �޴����� ���� ���� ����*/
#sidebar .list-group-item  { background-color: #F7EDE2; color: #000000; border: none; white-space: nowrap;  }
/*������̼� �Ʒ� ������ ����*/
#sidebar .list-group  { background-color: #F7EDE2;  min-height: 100vh; }
/*�޴��� �������� �� �θ� ����� ������ ��������*/
#sidebar .list-group .list-group-item[aria-expanded="true"]  { background-color: #F7EDE2; }
/*�޴��� �������� �� �ڽ� ����� ������ ��������*/
#sidebar .list-group .list-group-item:not(.collapsed)  { background-color: #F7EDE2; }

/*�ΰ� ����*/
#sidebar { overflow: hidden; z-index: 2; }
@media (max-width: 768px) 
{
    .span10 main {margin-left: 30px; margin-top: 40px; margin-right: 5px;}
    /*���̵�� �ʺ� ������ ũ�� ����*/
    #sidebar  { min-width: 35px; max-width: 40px; overflow-y: auto; overflow-x: visible;  transition: all 0.25s ease; transform: translateX(0px); position: fixed; }
    /*���̵���� ���� �޴��� ������ �� ���ڰ� ���̵��� �� */
    #sidebar, #sidebar .list-group { min-width: 35px; overflow: visible; }
    /*���̵�ٿ��� ���� �޴��� �ʺ� ����*/
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing { position: relative; z-index: 1; width: 190px; top: 0; }
    /* �������� ����*/
    #sidebar .list-group > .list-group-item { text-align: center; padding: .75rem .5rem; }
    #sidebar::-webkit-scrollbar { width: 0px; }
}
/* mobileŬ���� */
@media (max-width: 990px)
{
    .mobile { display: none; }
}
@media (max-width: 560px)
{
    .mobile { display: none; }
}

/*AdMain.jsp*/
.ad-main-table .number-column {width: 60px; text-align: center;}
.ad-main-table .member-column {text-align: center;}
.ad-main-table .post-column {text-align: center;}

/*AdUserList.jsp*/
#adUserList table {text-align: center;}
#adUserList table th {font-weight: 700; background-color: #F7EDE2; }
.ad-user-list-table th, tr {text-align: center;}
.ad-user-list-table th .number-column { width: 60px; }
.ad-user-list-table th .user-code-column { width: 120px;}
.ad-user-list-table th .user-name-column {width: 80px;}
.ad-user-list-table th .user-id-column {width: 120px; }
.ad-user-list-table th .user-date-column {width: 120px; }

/*info-btn*/
.info-btn {color: #fff;}
.info-btn:hover {background-color: #EF6E6B; border-radius: 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);}

/*AdUserInfo.jsp*/
#adUserInfo table {text-align: center;}
#adUserInfo table th {font-weight: 700; background-color: #F7EDE2; }
#adUserInfo .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adUserInfo .user-info-table .code-column {width: 120px;}
#adUserInfo .user-info-table .name-column {width: 80px;}
#adUserInfo .user-info-table .id-column { width: 120px;}
#adUserInfo .user-info-table .tel-column { width: 120px;}
#adUserInfo .user-info-table .date-column {width: 120px;}

/*AdUserPostList.jsp*/
#adUserPostList table {text-align: center;}
#adUserPostList table th {font-weight: 700; background-color: #F7EDE2; }
#adUserPostList .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adUserPostList .board-table { max-width: 1080px}
#adUserPostList .number-column {width: 50px;}
#adUserPostList .board-number-column {width: 120px;}
#adUserPostList .comment-column {width: 100px;}
#adUserPostList .data-column {width: 120px;}
#adUserPostList .view-column {width: 100px;}

/*AdUserCmntList.jsp*/
#adUserCmmtList table {text-align: center;}
#adUserCmmtList table th {font-weight: 700; background-color: #F7EDE2; }
#adUserCmmtList .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adUserCmmtList table {max-width: 1080px;}
#adUserCmmtList table .number-column {width: 50px;}
#adUserCmmtList table .board-number-column {width: 120px;}
#adUserCmmtList table .date-column {width: 120px;}

/*AdBan.jsp*/
#adBan table {text-align: center;}
#adBan table th {font-weight: 700; background-color: #F7EDE2; }
#adBan .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adBan .number-column {width: 60px;}
#adBan .user-code-column {width: 120px;}
#adBan .name-column {width: 80px;}
#adBan .id-column {width: 120px;}
#adBan .ban-date-column {width: 120px;}
#adBan .rept-column {width: 120px;}

/*AdBanInfo.jsp*/
#adBanInfo table {text-align: center;}
#adBanInfo table th {font-weight: 700; background-color: #F7EDE2; }
#adBanInfo .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adBanInfo .rept {width: 150px;}
#adBanInfo .user-code-column {width: 120px;}
#adBanInfo .name-column {width: 80px;}
#adBanInfo .id-column {width: 120px;}
#adBanInfo .tel-column {width: 120px;}
#adBanInfo .date-column {width: 120px;}

/*AdPostReptList.jsp*/
#adPostReptList table {text-align: center;}
#adPostReptList table th {font-weight: 700; background-color: #F7EDE2; }
#adPostReptList .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adPostReptList table .number-column {width:50px;}
#adPostReptList table .board-number-column {width:130px}
#adPostReptList table .rept-column {width:130px;}
#adPostReptList table .date-column {width:130px;}
#adPostReptList table .check-column {width:100px;}
#adPostReptList table tbody .content-column {text-align: left;}

/*AdPostRept.jsp*/
#adPostRept table {text-align: center;}
#adPostRept table th {font-weight: 700; background-color: #F7EDE2; }
#adPostRept .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adPostRept .send-content-btn {width: 100%; background-color: #F5CAC3;}
#adPostRept .send-content-btn:hover {box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);}
#adPostRept .approve-btn {width: 49%;}
#adPostRept .deny-btn {width: 50%; background-color: #F7EDE2;}
#adPostRept .return-btn {width: 100%; background-color: #F5CAC3;}

/*adCmntReptList.jsp*/
#adCmntReptList table {text-align: center;}
#adCmntReptList table th {font-weight: 700; background-color: #F7EDE2; }
#adCmntReptList .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adCmntReptList .wid-50-col {width: 50px;}
#adCmntReptList .wid-150-col {width: 150px;}
#adCmntReptList .content-title {text-align: left;}

/*Ȱ��ȭ�� ��ư*/
.unactivate-btn {width:100px; background-color: #F7EDE2; color: #000000;}
.unactivate-btn:hover { background-color: #F7EDE2; color: #000000;}

/*��Ȱ��ȭ ��ư*/
.activate-btn {width:100px; background-color: #F5CAC3; color: #000000;}
.activate-btn {background-color: #F5CAC3; color: #000000;}

/*AdCmntRept.jsp*/
#adCmntRept table {text-align: center;}
#adCmntRept table th {font-weight: 700; background-color: #F7EDE2; }
#adCmntRept .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adCmntRept .send-content-btn {width: 100%;}
#adCmntRept .approve-btn {width: 49%; background-color: #F5CAC3;}
#adCmntRept .deny-btn {width: 50%; background-color: #F7EDE2;}
#adCmntRept .return-btn {width: 100%;}

/*AdPostList.jsp*/
#adPostList table {text-align: center;}
#adPostList table th {font-weight: 700; background-color: #F7EDE2; }
#adPostList .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adPostList .dropdown-selected {background-color: #F5CAC3; border: none;}
#adPostList .paging-div {place-items: center; display: grid;}

/*AdPostOpen.jsp*/
#adPostOpen table {text-align: center;}
#adPostOpen table th {font-weight: 700; background-color: #F7EDE2; }
#adPostOpen .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adPostOpen tbody tr td { text-align: center; }

/*AdPostPrivate.jsp*/
#adPostPrivate table {text-align: center;}
#adPostPrivate table th {font-weight: 700; background-color: #F7EDE2; text-align: center; }
#adPostPrivate .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adPostPrivate tbody tr td { text-align: center; }

/*AdPostInfo.jsp*/
#adPostInfo table {text-align: center;}
#adPostInfo table th {font-weight: 700; background-color: #F7EDE2; }
#adPostInfo .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}

/*AdCmntList.jsp*/
#adCmntList table {text-align: center;}
#adCmntList table th {font-weight: 700; background-color: #F7EDE2; }
#adCmntList .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}

/*AdCmntOpen.jsp*/
#adCmntOpen table {text-align: center;}
#adCmntOpen table th {font-weight: 700; background-color: #F7EDE2; }
#adCmntOpen .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}

/*AdCmntPrivate.jsp*/
#adCmntPrivate table {text-align: center;}
#adCmntPrivate table th {font-weight: 700; background-color: #F7EDE2; }
#adCmntPrivate .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}

/*AdCmntInfo.jsp*/
#adCmntInfo table {text-align: center;}
#adCmntInfo table th {font-weight: 700; background-color: #F7EDE2; }
#adCmntInfo .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}

/*�������� div*/
.notice-title {margin-top: 30px}

/*AdNotiList.jsp*/
#adNotiList .list-title { margin-top: 5px; font-weight: 700; font-size:16pt; color: #000;}
#adNotiList table {text-align: center;}
#adNotiList table th {font-weight: 700; background-color: #F7EDE2; }
#adNotiList .paging { clear:both; margin-top: 20px; margin-bottom: 40px; text-align:center; }
#adNotiList .write-btn {float: right;}
#adNotiList .board-paging {place-items: center; display: grid;}
#adNotiList #prev {color: #F5CAC3;}
#adNotiList #next {color: #92B4EC;}

/*AdNotiReg.jsp*/
#adNotiReg table {text-align: center;}
#adNotiReg table th {font-weight: 700; background-color: #F7EDE2; }
#adNotiReg .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adNotiReg .table-title {padding-left:15px; width: 100%; height:35px;}
#adNotiReg .table-content {padding-left: 12px; width: 100%}
#adNotiReg .return-btn {background-color: #F5CAC3; float: right;}
#adNotiReg .reg-btn{background-color: #92B4EC; float: right;}

/*AdNotiCont.jsp*/
#adNotiCont .list-title { margin-top: 5px; font-weight: 700; font-size:16pt; color: #000;}
#adNotiCont table {text-align: center;}
#adNotiCont table th {font-weight: 700; background-color: #F7EDE2; }
#adNotiCont .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adNotiCont .table-content {width: 100%}
#adNotiCont .edit-btn {background-color: skyblue; float: right;}
#adNotiCont .delete-btn {background-color: #F5CAC3; float: right;}
#adNotiCont .return-btn {background-color: lightgray; float: right;}

/*AdNotiUpdate.jsp*/
#adNotiUpdate .list-title { margin-top: 5px; font-weight: 700; font-size:16pt; color: #000;}
#adNotiUpdate table {text-align: center;}
#adNotiUpdate table th {font-weight: 700; background-color: #F7EDE2; }
#adNotiUpdate .list-group-item {border-radius: 4px; margin-top: 8px; margin-bottom: 20px;}
#adNotiUpdate .table-title {padding-left:15px; width: 500px; height:35px;}
#adNotiUpdate .table-content {padding-left: 12px;}
#adNotiUpdate .reg-btn {background-color: skyblue; float: right;}
#adNotiUpdate .return-btn {background-color: #F5CAC3; float: right;}

/*�Խ��� �ۼ� ����*/
.table2 { border-collapse: collapse; border-top: 3px solid #036; border-bottom: 3px solid #036;  margin-left: 15px; }
.table2 th { border: 1px clear; border-left: 50px; border-right: 0px; width: 25%; font-size: 18px; font-weight: bold; line-height: 150%; padding-top: 20px; }
.table2 td { border: 1px clear; border-left: 50px; border-right: 0px; font-size: 12px; font-size: 12pt; line-height: 150%; text-align: left; padding-left:20px; padding-top: 20px; padding-bottom: 10px; }


/* ���(�˾�������)�� �߾ӿ� �ߵ���  */
.modal
{
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
    height: 720px;
}

/*
#List_title
{
    margin-top: 5px;
	font-weight: 700;
	font-size:16pt;
	color: #000;
}





#moneyList_title
{
	width:690px;
	height:40px;
	text-align:left;
	font-weight: bold;
	line-height:40px;
	font-size:30pt;
	text-align: center;
	color: #EFD345;
	margin-bottom:30px;
}






#Header
{
	place-items: left;
	display: grid;
	width:345px;
	text-align:left;
}

.selectField 
{
	border:1px solid; 
	border-color:#666666; 
	background-color:#ffffff; 
	font-size:10pt;
	height: 35px;
	margin-bottom:20px;
}

.textField 
{
	border:1px solid; 
	height: 35px;
	border-color:#666666; 
	background-color:#ffffff; 
	font-size:10pt;
	margin-bottom:20px;
}

*/
/* .newpost 
{
    padding-left: 3px;
    vertical-align: baseline;
    width: 10px !important
}
*/
/*

#reset, #rept, #submit
{
	float: right;
	margin-right: 15px;
}

.content_title
{
	text-indent : 2em;
	color: #595260; 
	margin-bottom:10px; 
	padding-top: 30px; 
}




.table3
{
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	width: 102%;
}

.table3 td
{
	text-align: left;
}
*/













/*board???*/
.boardTitle
{
    background-color: #efefef;
    padding: 6px;
}
.boardContent
{
    background-color: #efefef;
    padding: 6px;
    height: 320px;
    overflow-y: scroll;
}





